$desktop:		'only screen and (min-width: 768px)';
$desktop-sm:	'only screen and (min-width: 600px)';
$tablets:		'only screen and (min-width: 400px)';
$gray-white: #fafafa;
$gray1: #444;
$gray2: #555;
$default-font-family: 'Exo 2', 'Open Sans', sans-serif;
$th-weight: 600;
$th-color: #555;
$td-border: 1px solid #e1e1e1;
$td-padding: 12px 15px;
$td-color: #333;
$selected-color: #0e5fca;
